
:root {
    --owl-element-max-size: 950px;
  }


.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.d-block{
    display:block;
}
@media(max-width: 1024px){
    .displayonless1024{
        display: inherit;
    }
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.container{
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
.header__top{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    height:40px;
    background-color: #000;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__main{ 
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    min-height: 100px;
    border-bottom: #000 1px solid;
}
.nav-header__ul{
    display :flex;
}
.nav-header__item {
    position: relative;
    color: #000;
}
.nav-header__item > img{
    position: absolute;
    top: 24px;
    left: 1%;
    width: 60%;
}
.nav-header__item :not(:last-child){
    font-family: 'Space Mono', monospace;
    font-size: 17px;
    margin-right: 45px;
}
.header__rigthside{
    display: flex;
    align-items: center;
}
.middle-img{
    display: flex;
}
.middle-img img{
    justify-content: center;
}
#bmenubtn {
    padding: 0;
    margin: 0 0 0 30px;
    border: none;
    display: none;
    cursor:pointer;
}

@media(max-width: 1024px){
    #bmenubtn {
        display: block;
    }
    .nav-header__item{
       padding-bottom: 30px;
    }
    .header__main__nav{
    }
    .nav-header__ul{
        padding: 20px 0 0 37px;
        display: block;
        position: absolute;
        top: 139px;
        left: -200px;
        background-color: #fff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: 10;
    }
    .show-me{
        left: -5px !important;
        border: 1px solid #000;
        background-color: white;
        z-index: 10;
    }
    .search-png{
        display: none;
    }
}


/* HEADER SLIDER */
.owl-carousel__item{
    width: 50vw;
    height: 50vw;
    overflow: hidden;
}
.owl-prev,.owl-next{
    width:7%;
    height:7%;
    position: absolute;
    top:42%;
}
.owl-prev{
    left: 0;
}
.owl-prev img,.owl-next img{
    width:100%;
    height: 100%;
}
.owl-next{
    right:0 !important;
}

@media(min-width: 1920px){ 
    .owl-carousel__item{
        max-width: var(--owl-element-max-size);
        max-height: var(--owl-element-max-size);
    }
}

@media(max-width: 1024px){ 
    .owl-carousel__item{
        width:100vw;
        height: 100vw;
    }
    .owl-prev,.owl-next{
        width:10%;
        height:6%;
    }
}
@media(max-width: 600px){ 
    .owl-prev,.owl-next{
        width:12%;
        height:7%;
    }
}

/*small section*/
.small-section{
    border-top: solid 1px #000;  
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 1;
}
.small-section__block > div{
    padding: 0 15px;
    
}
.small-section__block{
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-section__block > div:not(:last-child){
    border-right: solid 1px #000;
}

/* OUR BLENDS section*/

.our-blends__container{
    background-color: #FDF1D9;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
}
.our-blends__info {
    width: 50%;
    padding: 4% 90px;
    display: flex;
    flex-direction: column;
}
.our-blends__infotitle {
    font-family: 'Anton', sans-serif;
    font-size: 2.8vw;
    text-transform: uppercase;
    line-height: 1.2;
}
.ellipsed {
    background: center / cover no-repeat url("../img/our_blends/ellipse.png")
}
.our-blends__infotext {
    font-family: 'Space Mono', monospace;
    font-size: 1.27vw;
    font-weight: 400; 
    margin-top: 30px;
    flex: 1 1 auto;
}
.our-blends__infomore {

}
.our-blends__infobtn {
    background: none;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 16px;
}
.our-blends__infoimg {
}
.our-blends__cards {
    width: 50%;
}
.product-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-cards__item {
    width: 100%;
    height: 33vw;
    max-height: 600px; 
    border-left: 1px solid #000;
}
.product-cards__img img{
    width: 100%;
}
.product-cards__title {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0 25px 43px;
}
.product-cards__price {
    font-family: 'Space Mono', monospace;
    font-size: 1.27vw;
    margin: 0 0 50px 43px;
}